[submodule "clowncommon"]
	path = clowncommon
	url = https://github.com/Clownacy/clowncommon
[submodule "audio/libraries/clownresampler"]
	path = audio/libraries/clownresampler
	url = https://github.com/Clownacy/clownresampler
[submodule "7zip"]
	path = chd/7zip
	url = https://github.com/ip7z/7zip
