[submodule "clowncommon"]
	path = clowncommon
	url = https://github.com/Clownacy/clowncommon
[submodule "audio/libraries/clownresampler"]
	path = audio/libraries/clownresampler
	url = https://github.com/Clownacy/clownresampler
[submodule "disc/chd/libchdr"]
	path = disc/chd/libchdr
	url = https://github.com/Clownacy/libchdr
